%btn {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $btn-color;
  color: $second-text-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  @include font(700, 16px, 1.88, 0.06em);
  border: 0ch;
  display: block;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  @include transition();
  @include transition($tp: background-color);
  &:hover,
  &:focus {
    color: $second-text-color;
    background-color: $btn-selection-color;
  }
}
